<!DOCTYPE html>
<html>

<head>
    <title>Tüccar Güncelle</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="header-section">
        <a href="{{ url_for('tuccar_home') }}">GİRİŞ SAYFASI</a>
        <h1><i>TÜCCAR GÜNCELLEME SAYFASI</i></h1>
    </div>
    <hr>

    <div class="filter-box">

        <form method="POST">

            <label>Şehir:</label><br>
            <select name="SehirID" disabled>
                {% for sehir in sehirler %}
                <option value="{{ sehir.SehirID }}"
                    {% if sehir.SehirID == tuccar.SehirID %}selected{% endif %}>
                    {{ sehir.Sehir_Adi }}
                </option>
                {% endfor %}
            </select>
            <br>

            <label>İlçe:</label><br>
            <select name="IlceID" >
                <option value="">Tümü</option>   <!-- İsteğe bağlı İlçeyi boş seçebilmek için -->
                {% for ilce in ilceler %}
                <option value="{{ ilce.IlceID }}"
                    {% if ilce.IlceID == tuccar.IlceID %}selected{% endif %}>
                    {{ ilce.Ilce_Adi }}
                </option>
                {% endfor %}
            </select>
            <br>

            <label>Firma Adı:</label><br>
            <input type="text" name="Firma_adi" value="{{ tuccar.Firma_adi }}" required><br><br>

            <label>Telefon:</label><br>
            <input type="text" name="Telefon" value="{{ tuccar.Telefon }}" ><br><br>

            <label>Adres:</label><br>
            <input type="text" name="Adres" value="{{ tuccar.Adres }}" ><br><br>

            <label>Fiyat:</label><br>
            <input type="number" name="Fiyat" value="{{ tuccar.Fiyat }}" required><br><br>

            <button type="submit" class="show-btn">Güncelle</button>
        </form>


    </div>

</body>
</html>

