<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Giriş</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="login-body">

    <div class="login-container">

        <h2 class="login-title">ADMİN GİRİŞİ</h2>

        {% if hata %}
            <p class="error-message">{{ hata }}</p>
        {% endif %}

        <form method="POST" action="{{ url_for('login') }}" class="login-form">

            <label>Kullanıcı Adı</label>
            <input type="text" name="Kullanici_adi" required>

            <label>Şifre</label>
            <input type="password" name="Sifre" required>

            <button type="submit" class="login-button">Giriş Yap</button>
        </form>


    </div>

</body>
</html>

