<!DOCTYPE html>
<html>

<head>
    <title>KARADENİZ FINDIKÇILARI</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>


    <div class="header-section">
        <div>
            <button class="login-btn" onclick="location.href='{{ url_for('login') }}'">GİRİŞ YAP</button>
        </div>
        <h1>
            <i>DOĞU KARADENİZ FINDIK TÜCCARLARI BİLGİ SİSTEMİ</i>
        </h1>
    </div>
    <hr>

</details>
    <form method="POST"  class="filter-box">
    <!-- Şehir Seçimi -->
        <label>Şehir:</label>
        <select name="SehirID" onchange="this.form.submit()">
            <option value="">Seçiniz</option>
            {% for sehir in sehirler %}
                <option value="{{ sehir.SehirID }}"
                    {% if selected_sehir == sehir.SehirID|string %}selected{% endif %}>
                    {{ sehir.Sehir_Adi }}
                </option>
            {% endfor %}
        </select>

    <!-- İlçe Seçimi -->
        <label>İlçe:</label>
        <select name="IlceID" >
            <option value="">Seçiniz</option>
            {% for ilce in ilceler %}
                <option value="{{ ilce.IlceID }}"
                    {% if selected_ilce == ilce.IlceID|string %}selected{% endif %}>
                    {{ ilce.Ilce_Adi }}
                </option>
            {% endfor %}
        </select>

    </div>
    <!-- TÜCCARLARI GÖSTER BUTONU -->
    <button class= filter-box type="submit" name="filtre" value="1">
        Filtrele
    </button>
</form>

</div>
    <!-- TÜCCAR LİSTESİ -->
    <div class="tuccar-container"></div>
        {% if tuccarlar %}
            {% for t in tuccarlar %}
                <div class="tuccar-card">
                    <p><strong>Firma:</strong> {{ t.Firma_adi }}</p>
                    <p><strong>Telefon:</strong> {{ t.Telefon }}</p>
                    <p><strong>Adres:</strong> {{ t.Adres }}</p>
                    <p><strong>Fiyat:</strong> {{ t.Fiyat }}</p>
                    </div>
        {% endfor %}
    {% endif %}
    </div>

</body>
</html>