<!DOCTYPE html>
<html>

<head>
    <title>KARADENİZ FINDIKÇILARI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
    
<body>

    <div class="header-section">
    <a href="{{ url_for('musteri_home') }}" style="background:red; color:white; padding:10px 20px; border-radius:5px; ">
        ÇIKIŞ YAP
    </a>
        <h1 >
            <i>DOĞU KARADENİZ FINDIK TÜCCARLARI BİLGİ SİSTEMİ</i>
        </h1>
    </div>
    <hr>


<details style="margin-top:20px; text-align:center;">
    <summary style="cursor:pointer; font-size:18px; padding:10px; background:#eee; border-radius:4px;">
        + Yeni Tüccar Ekle
    </summary>
    <div style="margin-top:10px;">
        <a href="{{ url_for('ekle') }}" style="padding:10px 15px; background-color:grey; color:white; text-decoration:none; border-radius:5px;">
            Ekleme Sayfasına Git
        </a>
    </div>
</details> <!-- details açılır kapanır bölüm oluşturur  summary başlık kısmı tıklanınca açılır-->
    
<form method="POST"  class="filter-box">

        <label>Şehir:</label>
        <select name="SehirID" onchange="this.form.submit()"> <!-- js var burda onchange de burda şehir seçildiğinde form otomatik-->
            <option value="">Seçiniz</option>
            {% for sehir in sehirler %}
                <option value="{{ sehir.SehirID }}"
                    {% if selected_sehir == sehir.SehirID|string %}selected{% endif %}>
                    {{ sehir.Sehir_Adi }}
                </option>
            {% endfor %}
        </select>

 
        <label>İlçe:</label>
        <select name="IlceID" >
            <option value="">Seçiniz</option>
            {% for ilce in ilceler %}
                <option value="{{ ilce.IlceID }}"
                    {% if selected_ilce == ilce.IlceID|string %}selected{% endif %}>
                    {{ ilce.Ilce_Adi }}
                </option>
            {% endfor %}
        </select>

    </div>

    <button type="submit" name="filtre" value="1">
        Filtrele
    </button>
</form>

    <div class="tuccar-container">
        {% if tuccarlar %}
            {% for t in tuccarlar %}
                <div class="tuccar-card">
                    <p><strong>Firma:</strong> {{ t.Firma_adi }}</p>
                    <p><strong>Telefon:</strong> {{ t.Telefon }}</p>
                    <p><strong>Adres:</strong> {{ t.Adres }}</p>
                    <p><strong>Fiyat:</strong> {{ t.Fiyat }}</p>

                    <a href="{{ url_for('guncelle', tuccar_id=t.TuccarID) }}" 
                        style=" color:blue">
                        Güncelle
                    </a>


                    <a 
                        href="{{ url_for('sil', tuccar_id=t.TuccarID) }}"
                        style="color:red;"
                        onclick="return confirm('Bu tüccarı silmek istediğinize emin misiniz?');" 
                    >
                        Sil
                    </a>
                </div>
            {% endfor %}
        {% endif %}
        </div>


</body>
</html>