body {
    margin: 0;
    background: #296048;
    font-family: Arial, sans-serif;
    color: black;
}

.header-section {
    display: flex;
    align-items: center;
    padding: 20px 40px;
    color: white;
    position: relative;
}

.header-section h1 {
    margin-top: 40px; /* üstten boşluğunu ayarlar */
    color: black;
    font-size: 28px;
    text-align: center;
    flex: 1;
}

.header-section a, .header-section button {
    font-weight: bold;
    padding: 12px 25px;        /*Daha büyük buton*/ 
    border: none;
    border-radius: 5px; /*kçşeleri yuvarlatır*/
    cursor: pointer;
    font-size: 18px;        
    margin-right: 15px;
    background-color: white;
    color: black;
}


.tuccar-container {
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center; 
    gap: 30px; /* Kartlar arası boşluk */
    padding: 20px;
}

.tuccar-card {
    width: 60%;
    background: #bbb6b2;
    padding: 15px;
    margin: 10px auto;
    border-radius: 8px;
}

.action-buttons {
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

.action-buttons a {
    background-color: #333;
    padding: 25px 50px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-size: 22px;
    transition: 0.3s;
}

.action-buttons a:hover {
    background-color: #555;
}

.filter-box {
    margin: 30px auto ;
    background: #ffffffcc;
    padding: 20px 30px;
    width: 350px;
    text-align: center;
    border-radius: 10px;
}

.filter-box label {
    font-weight: bold;
    display: block; /*Label’ı tek satır kaplayan bir eleman yapa*/
    margin-bottom: 5px; /*Label ile altındaki alan arasında boşluk bırakır*/
}

.filter-box select, .filter-box input {
    width: 100%;
    padding: 7px;
    margin-bottom: 15px;
    border-radius: 5px;

}

.show-btn {
    background: #2d6a4f;
    color: white;
    padding: 10px 20px;
    width: 100%;
    border: none;
}



.login-body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #24533f;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}


.login-container {
    background: #ffffffcc;
    width: 350px;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
}


.login-title {
    margin-bottom: 20px;
    color: #1b4332;
    font-size: 22px;
}


.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-form label {
    text-align: left;
    font-weight: bold;
    color: #1b4332;
}

.login-form input {
    padding: 10px;
    font-size: 16px;
}


.login-button {
    margin-top: 10px;
    padding: 12px;
    background: #1b4332;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
}



.error-message {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
}






